<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Bruin Entrepreneurs</title>
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; 
      clear:left; 
      font:14px Helvetica,Arial,sans-serif; 
      width:100%;
    }
  </style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Bruin Entrepreneurs">
  <meta name="author" content="Bruin Entrepreneurs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/main.css">
  <link rel="stylesheet" href="../public/css/home_bottom.css">
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="../public/js/main.js"></script>
</head>
<body>
  <div class="splash">
    <div class="navi">
      <ul>
            <img src="../public/assets/images/logo.png" alt="BE">
            <li><a href="">LA Hacks</a></li>
            <li><a href="">BVentures</a></li>
            <li><a href="">Creative Labs</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Alumni</a></li>
            <li><a href="">Events and Programs</a></li>
      </ul>
    </div>

<div class="navbar navbar-default navbar-fixed-top">
 <div class="navbar-header">
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="">LA Hacks</a></li>
        <li><a href="">BVentures</a></li>
        <li><a href="">Creative Labs</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Alumni</a></li>
        <li><a href="">Events and Programs</a></li>
      </ul>
    </div>
</div>
    <div class="textarea">
          <h1 id="blue">BRUIN</h1><h1>ENTREPRENEURS</h1>
          <div class="mission">Fostering a Community </div>
          <div class="mission">of Entrepreneurs at UCLA</div>

          <div class="subscribe">
            <form action="/" id ="emailForm">
              <input type="text" placeholder="Enter your email to subscribe to our newsletter!" name="emailform" />
              <input type="submit" value ="SUBSCRIBE" id="subscribeButton">
            </form>
                
          </div>
    <div class="icons">
            <a href="https://www.facebook.com/BruinEntrepreneurs/"><i class="fa fa-facebook fa-lg"></i></a>
            <a href="https://twitter.com/bruinentreprenr"><i class="fa fa-twitter fa-lg"></i></a>
            <a href="https://medium.com/@BruinEntrepreneurs"><i class="fa fa-medium fa-lg"></i></a>
    </div>

    </div>
  </div>

    <div class="quote">
        <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>

      <div class="container">
      <br><br>
      <div class="row">
        <div class="col-sm-6">
          <div class="bigquote">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. "
          <br><br>
          <a href="https://polymail.io/"><img src="../public/assets/images/polymail.png" alt="BE"></a>
        </div>
        </div>
        <div class="col-sm-6">
          <div class="smallquote">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."
          <br>
          - Chow, UCLA
        </div> 
          <div class="smallquote">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt."
          <br>
          - Chu, UCLA
        </div>
        </div>
      </div>
    </div>

    </div>
  <div class="bottom_half">
  <div class="container-fluid">
    <div class="row martin-row">
      <div class="col-55" id="r_text">
        <h1 id="section"><span class="stretch">bVentures</span></h1>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus neque et magna congue, id ultrices elit eleifend. Duis ornare eget lorem ac convallis. Vivamus id volutpat est. Donec in dolor ut urna efficitur convallis vitae in turpis. Proin rutrum commodo nisi non fermentum. Donec dapibus lacus a porttitor volutpat. Integer pretium diam non elit egestas laoreet. Aenean quis dolor arcu. Praesent porttitor dictum felis ac volutpat. Praesent malesuada mattis dui in varius. Nam eu metus tortor.</p>
        <div class="buttons2">
          <div class="col-6"><a class="button" href="#">SPONSOR</a></div>
          <div class="col-6"><a class="button" href="#">WEBSITE</a></div>
        </div>
      </div>
    </div>

    <div class="row martin-row">
      <div class="col-55" id="l_text">
        <h1 id="section"><span class="stretch">LA Hacks</span></h1>
        <p class="text">LA Hacks is a weekend of creation. Over 36 hours, development, design, and data-driven hackers collaborate on and build creative solutions to some of the nation’s most prominent issues. Founded in Spring, 2012, LA Hacks began as an endeavor between Bruin Entrepreneurs and Sigma Eta Pi, and over the past four years, we have upheld the SoCal standard of technology based hacking and continue to extend our reach into the city itself, introducing design and data hacking options in ways never before seen in the traditional hackathon. This is the weekend build something awesome and become a part of the LA creative community!</p>
        <div class="buttons2">
          <div class="col-6"><a class="button" href="#">SPONSOR</a></div>
          <div class="col-6"><a class="button" href="#">WEBSITE</a></div>
        </div>
      </div>
    </div>

    <div class="row martin-row">
      <div class="col-55" id="r_text">
        <h1 id="section"><span class="stretch">Creative Labs</span></h1>
        <p class="text">Creative Labs is a platform where designers and developers from different backgrounds at UCLA work on projects together and learn from each other and professionals in industry. It also serves as a mini agency to individuals or small companies who have design challenges involving branding, web and mobile design and helps them solve those by the collaboration of talented students at UCLA. We had some exciting projects last quarter and have some great ones planned for this quarter as well.</p>
        <div class="buttons2">
          <div class="col-6"><a class="button" href="#">SPONSOR</a></div>
          <div class="col-6"><a class="button" href="#">WEBSITE</a></div>
        </div>
      </div>
    </div>

    <div class="row martin-row">
      <div class="col-55" id="l_text">
        <h1 id="section"><span class="stretch">Fellowship</span></h1>
        <p class="text">Our Fellowships program bridges the gap that exists between early stage startups and talented college students. Our goal is to actively engage students in startups and startup culture by creating a program for them to work with, and be mentored by participating companies. In addition to assisting students, this program simplifies the intern recruitment process for startups. We do the resume review, preliminary interviews, and quality check before handing over qualified students to companies that best fit their skill set and interests.</p>
        <div class="buttons2">
          <div class="col-6"><a class="button" href="#">SPONSOR</a></div>
          <div class="col-6"><a class="button" href="#">WEBSITE</a></div>
        </div>
      </div>
    </div>

    <div class="row martin-row">
      <div class="col-55" id="r_text">
        <h1 id="section"><span class="stretch">Events/Programs</span></h1>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum luctus neque et magna congue, id ultrices elit eleifend. Duis ornare eget lorem ac convallis. Vivamus id volutpat est. Donec in dolor ut urna efficitur convallis vitae in turpis. Proin rutrum commodo nisi non fermentum. Donec dapibus lacus a porttitor volutpat. Integer pretium diam non elit egestas laoreet. Aenean quis dolor arcu. Praesent porttitor dictum felis ac volutpat. Praesent malesuada mattis dui in varius. Nam eu metus tortor.</p>
        <div class="buttons2">
          <div class="col-6"><a class="button" href="#">SPONSOR</a></div>
          <div class="col-6"><a class="button" href="#">WEBSITE</a></div>
        </div>
      </div>
    </div>

  </div>
  </div>
  <div class="row foot">
    <div class="row">
      <div class="bottom">
      <a href="#" class="link one">LA HACKS</a>
      <a href="#" class="link one">BVENTURES</a>
      <a href="#" class="link one">CREATIVE LABS</a>
      <a href="#" class="link one">ABOUT US</a>
      <a href="#" class="link one">ALUMNI</a>
      <a href="#" class="link one">EVENTS / PROGRAMS</a>
      </div>
    </div>
    <div class="row">
      <div class="bottom">
        <a href="#" class="link two"><i class="fa fa-facebook fa-lg" aria-hidden="true" id="icon"></i></a>
        <a href="#" class="link two"><i class="fa fa-twitter fa-lg" aria-hidden="true" id="icon"></i></a>
        <a href="#" class="link two"><i class="fa fa-linkedin fa-lg" aria-hidden="true" id="icon"></i></a>
        <a href="#" class="link two"><i class="fa fa-medium fa-lg" aria-hidden="true" id="icon"></i></a>
      </div>
    </div>
    <div class="row" id="head">
      <h1 id="footer">BRUIN</h1><h1 id="f2">ENTREPRENEURS</h1>
    </div>

    <div class="row" id="sign_off">
      <h4>With <i class="fa fa-heart" aria-hidden="true" id="heart" style="color:rgb(51, 170, 255);"></i> from LA</h4>
    </div>
  </div>
</body>

</html>