.bottom_half {
	background-color:#f3f3f3;
	background:#f3f3f3;
	width: 100%;
	margin: 0;
	padding: 0;
}
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}*/
.col-4 {width: 33.33%;}
/*.col-5 {width: 41.66%;}
/*.col-6 {width: 50%;}*/
/*.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/

.col-55 {width: 44%}

.martin-row {
	margin: 30px 40px 30px 40px;
	background-color: #0077cc;
    background: -webkit-linear-gradient(left top, #0077cc, #33aaff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0077cc, #33aaff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0077cc, #33aaff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0077cc, #33aaff); /* Standard syntax (must be last) */
}
#section {
	font-size: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	letter-spacing: 3px;
	margin: 0;
	font-family: 'Open Sans';
	font-weight: 700;
	/*border: solid 1px #f3f3f3;*/
}
.stretch {
	display: inline-block;
    -webkit-transform:scale(1.3,1.2); /* Safari and Chrome */
    -moz-transform:scale(1.3,1.2); /* Firefox */
    -ms-transform:scale(1.3,1.2); /* IE 9 */
    -o-transform:scale(1.3,1.2); /* Opera */
    transform:scale(1.3,1.2); /* W3C */
    padding-left: 25px;
}
#l_text {
	margin: 0;
	padding: 40px;
	padding-top: 0px;
	padding-left: 100px;
	background-color: #f3f3f3;
	padding-bottom: 30px;
	float: left;
}
#r_text {
	margin: 0;
	padding: 40px;
	padding-top: 0px;
	padding-right: 100px;
	background-color: #f3f3f3;
	padding-bottom: 30px;
	float: right;
}
.text {
	text-align: justify;
	line-height: 180%;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 100;
}
.buttons2 {
	padding: 0;
	margin-top: 15px;
	margin-bottom: 0px;
}
.col-6 {
	padding-left: 0;
	padding-right: 0;
	width: 50%;
	text-align: center;
	/*border: solid 1px white;*/
}
.button {
	text-decoration: none;
	color: #f3f3f3;
	font-family: 'Open Sans';
	font-size: 16px;
	padding: 15px 20%;
	background-color: #0077cc;
    background: -webkit-linear-gradient(left top, #0077cc, #33aaff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #0077cc, #33aaff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #0077cc, #33aaff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #0077cc, #33aaff); /* Standard syntax (must be last) */
    font-weight: 500;
    letter-spacing: 1px;
}

.col-6 a:hover {
	color: #cccccc;
	text-decoration: none;
}


.foot {
	color: white;
	background-color: black;
	margin: 0;
	margin-bottom: 0;
	padding: 10px;
	font-family: 'Open Sans';
	color: #cccccc;
}

#footer {
	font-family: 'Montserrat Bold';
	color: white;
}
.left {
	padding-left: 20px;
	padding-right: 20px;
	/*border: solid 1px white;*/
	width: 60%;
}
.right {
	/*border: solid 1px white;*/
	width: 40%;
	padding-top: 20px;
}
.social {
	display: inline-block;
	/*margin-right: 30px;*/
	/*border: solid 1px white;*/
	padding: 0;
	width: 100%;
	margin-bottom: 20px;
}
.social span {
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 1px;
	/*border: solid 1px white;*/
	margin: 0;
	padding: 0;
	margin-left: 15px;
}
.link {
	color: #cccccc;
	/*border: solid 1px white;*/
}
.social a:hover {
	color: #f3f3f3;
	text-decoration: none;
}


@media only screen and (max-width: 1030px){
	.martin-row {
		margin: 30px;
	}
	.col-55 {
		width: 56%;
	}
	.right .inner {
		width: 100%;
		padding: 0;
	}
	.left {
		padding-left: 40px;
		padding-right: 0px;
	}
}
@media only screen and (max-width: 855px){
	#l_text {
		width: 100%;
		padding: 0px;
	}
	#r_text {
		width: 100%;
		padding: 0px;
	}
	.right .inner {
		width: 50%;
	}
	.foot .left {
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
	}
	.foot .right {
		width: 100%;
	}
}


