@charset "UTF-8";
@font-face {
  font-family: Montserrat Bold;
  src: url(../assets/fonts/Montserrat-Bold.otf); }
@font-face {
  font-family: Avenir Next Light;
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf); }
body {
  font-family: Avenir Next Light;
  height: 100%;
  width: 100%;
  background: #f3f3f3;
  margin: 0;
  line-height: 1.5;
  font-size: 14px; }

#blue {
  display: inline-block;
  overflow-y: hidden;
  color: #3060FA; }

#blue2 {
  display: inline;
  overflow-y: hidden;
  color: #3060FA; }

#fatquotation {
  color: gray;
  font-size: 70px;
  display: inline-block;
  margin: none;
  padding: none; }

::-webkit-input-placeholder {
  color: white;
  font-weight: 600; }

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
  font-weight: 600; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
  font-weight: 600; }

:-ms-input-placeholder {
  color: white;
  font-weight: 600; }

.splash {
  background-image: url("../assets/images/background.jpg");
  /* ALLEY OOP */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
  text-align: center;
  min-height: 100%;
  width: 100%;
  border-top: 10px solid #f3f3f3;
  border-left: 10px solid #f3f3f3;
  border-right: 10px solid #f3f3f3;
  padding-top: 4px;
  padding-bottom: 72px; }
  .splash .textarea {
    max-width: 700px;
    width: 100%;
    float: top left;
    padding: 250px 22px 0px 135px;
    text-align: left; }
    .splash .textarea h1 {
      overflow-y: hidden;
      font-family: Montserrat Bold !important;
      font-size: 28px;
      font-weight: 500 !important;
      /* ALLEY OOP */
      text-align: left;
      color: white;
      margin: 0px 0px 36px 0px;
      display: inline-block; }
    .splash .textarea .mission {
      margin: 0px 18px 0px 0px;
      text-shadow: 2px 2px black;
      font-size: 37px;
      color: white;
      opacity: .75;
      transition: width 1s;
      -o-transition: width 1s;
      -ms-transition: width 1s;
      -moz-transition: width 1s;
      -webkit-transition: width 1s; }
    .splash .textarea .subscribe {
      margin-top: 18px; }
      .splash .textarea .subscribe input {
        width: 350px;
        border: none;
        padding: 18px 9px 18px 22px;
        background-color: black;
        font-size: 11px;
        color: white;
        opacity: .85;
        transition: border-color 1s;
        -o-transition: border-color 1s;
        -ms-transition: border-color 1s;
        -moz-transition: border-color 1s;
        -webkit-transition: border-color 1s;
        margin-right: -4px; }
      .splash .textarea .subscribe input:focus {
        outline: none;
        border: 1px solid;
        border-color: white; }
      .splash .textarea .subscribe #subscribeButton {
        font-size: 12px;
        border: none;
        padding: 17px 17px 18px 17px;
        background-color: #0F285F;
        color: white;
        font-weight: 600;
        transition: background-color .2s ease-in-out;
        -moz-transition: background-color .2s ease-in-out;
        -webkit-transition: background-color .2s ease-in-out;
        width: 150px; }
      .splash .textarea .subscribe #subscribeButton:hover {
        background-color: #3060FA; }
      @media (max-width: 550px) {
        .splash .textarea .subscribe input {
          width: 100%;
          border: none;
          padding: 17px 10px 17px 25px;
          font-size: 11px; }
        .splash .textarea .subscribe #subscribeButton {
          width: 100%;
          font-size: 12px;
          padding: 16px 18px 17px 22px; } }
    .splash .textarea .icons {
      padding: 30px 0px 20px 0px; }
      .splash .textarea .icons a {
        display: inline-block;
        margin: 0px 50px 0px 3px; }
      .splash .textarea .icons .fa {
        color: white;
        transition: color .2s ease-in-out;
        -moz-transition: color .2s ease-in-out;
        -webkit-transition: color .2s ease-in-out; }
      .splash .textarea .icons .fa:hover {
        color: #3060FA; }
  .splash .navi {
    padding: 22px 18px 42px 18px;
    margin: -15px 90px 27px 0px;
    float: right;
    background-color: #3060FA;
    box-shadow: 13px 13px #1A1A35; }
    .splash .navi ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 280px;
      height: 100%;
      visibility: visible; }
    .splash .navi li a {
      padding: 16px 0px 16px 0px;
      display: block;
      color: white;
      text-decoration: none;
      font-size: 15px;
      font-weight: 100;
      opacity: .8;
      transition: .3s;
      -o-transition: .3s;
      -ms-transition: .3s;
      -moz-transition: .3s;
      -webkit-transition: .3s; }
    .splash .navi li a:hover {
      color: grey; }
    .splash .navi img {
      height: 50px;
      width: 50px;
      vertical-align: middle; }
  .splash .navbar {
    display: none;
    border: none; }
  .splash .navbar-default {
    background-color: rgba(45, 41, 71, 0.5) !important; }
  .splash .navbar-header {
    background-color: rgba(45, 41, 71, 0.5) !important;
    border: none;
    position: fixed; }
  .splash .navbar-collapse {
    background-color: rgba(45, 41, 71, 0.5) !important;
    color: #FFF !important;
    position: fixed;
    transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out; }
    .splash .navbar-collapse li a {
      color: #FFF; }
    .splash .navbar-collapse li a:hover {
      color: grey; }
  .splash .navbar-toggle:hover {
    background-color: #0F285F !important; }
  @media (max-width: 1180px) {
    .splash .navbar {
      display: inline;
      color: #0B3A5F; }
    .splash .navi {
      display: none; }
    .splash .textarea {
      padding: 140px 25px 0px 35px; }
      .splash .textarea h1 {
        font-size: 30px; }
      .splash .textarea .mission {
        font-size: 34px; }
    .splash .subscribe {
      margin: 40px 0px 20px 0px !important; } }
  @media (max-width: 550px) {
    .splash .textarea {
      padding: 140px 15px 0px 20px;
      text-align: center; }
      .splash .textarea h1 {
        font-size: 26px; }
      .splash .textarea .mission {
        font-size: 28px; }
    .splash .icons {
      padding: 0px 0px 0px 0px;
      margin-left: 20%; } }

.quote {
  background-color: #0E1326;
  padding: 60px 120px 20px 120px;
  margin: none;
  text-align: center;
  color: white;
  overflow-y: visible;
  overflow-x: hidden;
  border-bottom: 10px solid #f3f3f3;
  border-left: 10px solid #f3f3f3;
  border-right: 10px solid #f3f3f3; }
  .quote .container {
    width: 1050px; }
  .quote .text {
    font-size: 24px;
    margin: 0px 0px 200px 0px;
    display: inline;
    line-height: 170%; }
  .quote q {
    quotes: "“" "”" "‘" "’"; }
  .quote .text::before {
    content: open-quote;
    color: gray;
    font-size: 70px;
    display: inline-block;
    margin: none;
    padding: none; }
  .quote .text::after {
    content: close-quote;
    color: gray;
    font-size: 70px;
    display: inline-block;
    margin: none;
    padding: none; }
  .quote .bigquote {
    background: linear-gradient(to bottom right, #0F285F, #0B3A5F);
    width: 90%;
    float: right;
    margin: 85px 0px 20px 0px;
    padding: 60px 40px 60px 40px;
    box-shadow: 10px 10px rgba(9, 24, 57, 0.85);
    line-height: 200%;
    font-size: 17px; }
    .quote .bigquote img {
      height: 30px;
      width: 170px; }
  .quote .smallquote {
    background-color: #0F285F;
    width: 80%;
    margin: 20px 0px 20px 5px;
    padding: 40px 30px 40px 30px;
    font-size: 17px;
    box-shadow: 10px 10px rgba(9, 24, 57, 0.85);
    line-height: 200%; }
  @media (max-width: 855px) {
    .quote {
      padding: 30px 25px 20px 25px; }
      .quote .container {
        width: 100%; } }
  @media (max-width: 550px) {
    .quote {
      padding: 30px 25px 20px 25px; }
      .quote .container {
        width: 100%; } }

@media (min-width: 1310px) {
  .quote .container {
    width: 1200px !important; } }
@media (max-width: 1180px) {
  .quote {
    padding: 30px 25px 20px 25px; }
    .quote .container {
      width: 100%; }
    .quote .bigquote {
      width: 100%;
      float: none; }
    .quote .smallquote {
      width: 100%;
      float: none; } }
.who {
  overflow-x: visible !important;
  text-align: center;
  background-color: #f3f3f3;
  padding: 50px 180px 40px 180px;
  margin: none;
  font-size: 16px;
  display: inline-block; }
  .who #head {
    font-size: 38px;
    font-weight: 700; }
  .who .box {
    text-align: center;
    padding: 30px 10px 20px 10px;
    margin: 0px 25% 0px 25%;
    background-color: #0B3A5F;
    color: #FFF;
    border-radius: 50%;
    width: 150px;
    height: 150px; }
    .who .box .text {
      margin: 15px 0px 0px 0px;
      text-align: center;
      font-weight: 500; }
  @media (max-width: 1180px) {
    .who {
      overflow-x: none !important;
      padding: 50px 120px 40px 120px; }
      .who #head {
        font-size: 32px;
        font-weight: 700; }
      .who .box .text {
        overflow-x: visible !important; } }
  @media (max-width: 600px) {
    .who {
      overflow-x: none !important;
      padding: 50px 40px 40px 40px; }
      .who #head {
        font-size: 28px;
        font-weight: 700; }
      .who .box {
        margin: 0px 25% 0px 60%; }
        .who .box .text {
          overflow: none !important; } }

.recruit {
  text-align: center;
  padding: 10px 20px 50px 20px;
  background-color: #f3f3f3;
  font-size: 18px;
  width: 100%; }
  .recruit #head {
    padding: none;
    font-size: 42px;
    font-weight: 700;
    color: #0F285F; }
  .recruit .card {
    border-color: #4c9fcd;
    border-style: solid;
    background-color: #FFF;
    padding: 20px 50px 35px 50px;
    margin: 30px 80px 20px 80px; }
  .recruit button {
    border: none;
    padding: 12px 12px 12px 12px;
    background-color: #0F285F;
    color: #FFF;
    transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out; }
  .recruit button:hover {
    background-color: #3060FA; }
  @media (max-width: 550px) {
    .recruit .card {
      border-color: #4c9fcd;
      border-style: solid;
      background-color: #FFF;
      padding: 20px 10px 25px 10px;
      margin: 10px 10px 10px 10px; } }

/*# sourceMappingURL=main.css.map */
